@media screen and (max-width: 768px){
    #principal, #rodape, #cabecalho{
        font-size: 0.95rem;
    }

    main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    aside{
        width: 50%;
    }

    .mid{
        width: 80%;
    }

    a{
        margin: 0;
    }

    footer ul li {
        font-size: 0.8em;
        display: flex;
        align-items: center;
    }

    .linkedin, .github, .instagram{
        height: 20px;
        margin-right: 2px;
    }
}